@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_l: 43px;
        --block_head_offset_xl: 30px;
        --block_head_offset_l: 30px;
        --block_head_offset: 24px;
        --outside_gap_xl: 80px;
        --outside_gap_l: 80px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__container
    {
        --f-close-button-width: 45px;
        --f-close-button-height: 45px;
        --f-close-border-radius: 12px;
        --f-close-button-color: var(--light_color);
        --f-close-button-hover-color: var(--light_color);
        --f-close-button-svg-width: 19px;
        --f-close-button-svg-height: 19px;
        --f-close-button-svg-stroke-width: 1;
        --f-close-button-bg: var(--primary_color);
        --f-close-button-hover-bg: var(--primary_color);
        --f-close-button-active-bg: var(--primary_color);
    }


    .f-button.is-close-button
    {
        top: 0;
        right: 0;
    }



    /*----------------
        Swiper tip
    ----------------*/
    .swiper_tip
    {
        display: flex;
    }



    /*------------
        Header
    ------------*/
    header .address
    {
        width: 100%;
        margin-bottom: var(--inner_gap_s);
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        --cont_padding: var(--cont_padding_half);
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        width: 340px;
        max-width: 100%;
        margin-inline: auto;
    }


    .pagination a.hide
    {
        display: none;
    }


    .pagination .sep
    {
        margin-inline: auto;
    }


    .pagination a.prev,
    .pagination a.next
    {
        order: 2;

        width: calc(50% - var(--inner_gap_xs) / 2);
        margin-inline: 0;
        margin-top: var(--inner_gap_xs);
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        line-height: calc(100% + 4px);
    }


    .page_head .order_btn
    {
        width: 100%;
        height: 70px;
        margin-top: var(--inner_gap_l);

        border: 1px solid #dadada;
        border-radius: var(--border_radius);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .checkbox
    {
        font-size: var(--font_size_s);
        line-height: calc(100% + 4px);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        line-height: calc(100% + 4px);
    }


    .block_head.row .desc
    {
        width: 100%;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block img
    {
        border-radius: var(--border_radius);
    }


    .text_block h2
    {
        line-height: normal;
    }


    .text_block * + h2
    {
        margin-top: var(--inner_gap_l);
    }


    .text_block .images
    {
        margin-block: 40px;
    }


    .text_block hr
    {
        margin-block: var(--inner_gap_l);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-inline: var(--cont_padding_half);
    }


    .first_section .cont
    {
        min-height: 660px;
        padding-block: var(--block_padding_l);
    }


    .first_section .links
    {
        font-size: var(--font_size);
    }



    /*----------------
        Directions
    ----------------*/
    .directions  .cont
    {
        padding-inline: var(--cont_padding_half);
    }


    .directions .row
    {
        border-radius: var(--border_radius);
    }


    .directions .section .name
    {
        padding-inline: var(--inner_gap);

        font-size: 20px;
    }


    .directions .section .arrow
    {
        right: var(--inner_gap);
    }


    .directions .section .info
    {
        padding: var(--inner_gap);
    }


    .directions .section .links
    {
        min-height: 0;
        padding-inline: var(--inner_gap);

        font-size: var(--font_size_s);

        gap: var(--inner_gap_l);
    }



    /*---------
        Why
    ---------*/
    .why .block_head
    {
        padding-inline: 0;
    }


    .why .list
    {
        margin-inline: calc(var(--cont_padding_half) * -1);
    }


    .why .item
    {
        border-radius: 24px;
    }


    .why .item .number
    {
        width: 60px;
        padding-inline: var(--inner_gap_l) 10px;
    }


    .why .item .name
    {
        width: calc(100% - 60px);
        padding-block: var(--inner_gap_l);
    }


    .why .item .desc
    {
        padding-block: var(--inner_gap_l);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item .val.phone,
    .contacts_info .item .val.email
    {
        gap: var(--inner_gap_l);
    }


    .contacts_info .item .messengers a
    {
        width: 165px;
        height: 60px;

        aspect-ratio: auto;
    }


    .contacts_info .info
    {
        display: none;
    }


    .contacts_info .map,
    .contacts_info .images
    {
        width: calc(100% + var(--cont_padding));
        max-width: calc(100% + var(--cont_padding));
        margin-inline: calc(var(--cont_padding_half) * -1);
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .cont
    {
        padding-inline: var(--cont_padding_half);
    }


    .portfolio .block_head
    {
        align-content: flex-start;
        align-items: flex-start;

        text-align: left;
    }


    .portfolio .block_head .title .text_gradient ~ span
    {
        display: block;

        font-size: 23px;
        line-height: normal;
    }


    .portfolio .block_head .title .mob
    {
        display: block;
    }


    .portfolio .block_head .title .mob + span
    {
        display: none;
    }


    .portfolio .block_head .swiper_tip
    {
        right: 15px;
        bottom: 4px;
    }


    .portfolio .swiper-button-next,
    .portfolio .swiper-button-prev
    {
        display: none;
    }


    .portfolio .swiper .item
    {
        height: 607px;
        padding-block: 100px var(--inner_gap_l);
        padding-inline: var(--inner_gap_l);
    }


    .portfolio .swiper .item .tags
    {
        padding: var(--inner_gap_l);
    }


    .portfolio .swiper .item .title
    {
        width: 100%;
        max-width: 100%;
    }


    .portfolio .swiper .item .features
    {
        margin-top: var(--inner_gap);
    }


    .portfolio .swiper .item .link
    {
        order: 3;

        width: 100%;
        margin-top: var(--inner_gap);
    }


    .portfolio .swiper .item .link a
    {
        width: 100%;
        height: 55px;

        border: 1px solid rgba(255,255,255,.2);
        border-radius: 18px;
    }


    .portfolio .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------------
        Portfolio data
    --------------------*/
    .portfolio_data .swiper-slide
    {
        width: 200px;
    }



    /*-----------------------
        Portfolio gallery
    -----------------------*/
    .portfolio_gallery .grid_row
    {
        --items_per_line: 1;
    }



    /*-----------------------
        Portfolio process
    -----------------------*/
    .portfolio_process
    {
        gap: 40px;
    }


    .portfolio_process .section
    {
        gap: var(--inner_gap_s);
    }


    .portfolio_process .image
    {
        border-radius: var(--border_radius);
    }


    .portfolio_process .caption
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_l);

        line-height: calc(100% + 10px);

        border-radius: var(--border_radius);
    }



    /*--------------------
        Portfolio desc
    --------------------*/
    .portfolio_desc
    {
        font-size: var(--font_size);
        font-weight: 400;
        line-height: calc(100% + 9px);
    }


    .portfolio_desc .images
    {
        width: 100%;
        margin-inline: 0;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .form .line,
    .action_form .form .submit
    {
        width: 100%;
    }


    .action_form .form .agree
    {
        margin-top: var(--inner_gap);
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block:not(:has(> .cont)),
    .contacts_block .cont.row
    {
        padding-inline: var(--cont_padding_half);
    }


    .contacts_block .info .block_head .desc
    {
        width: 100%;
    }


    .contacts_block .data .feedback .form .checkbox
    {
        width: fit-content;
        margin-inline: auto;
    }



    /*--------------------
        Portfolio info
    --------------------*/
    .portfolio_info .cont
    {
        padding-inline: var(--cont_padding_half);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form
    {
        padding-inline: var(--cont_padding_half);
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding-inline: var(--cont_padding_half);
    }


    .about_head .data
    {
        padding-block: var(--block_padding_l) var(--inner_gap);
    }


    .about_head .cont
    {
        padding-inline: var(--inner_gap);
    }


    .about_head .cities
    {
        justify-content: center;

        gap: var(--inner_gap_s);
    }


    .about_head .cities .sep
    {
        width: 100%;
        height: 1px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding-inline: var(--cont_padding_half);
    }


    .service_head .data:before
    {
        display: none;
    }


    .service_head .data:after
    {
        bottom: 83px;
        left: 8px;

        width: 362px;
        height: 454px;

        opacity: .8;
    }


    .service_head .title
    {
        width: calc(100% + var(--cont_padding));
        max-width: calc(100% + var(--cont_padding));
        margin-inline: calc(var(--cont_padding_half) * -1);

        line-height: calc(100% + 4px);
    }


    .service_head .title.small
    {
        font-size: 34px;
    }


    .service_head .title br
    {
        display: none;
    }


    .service_head .cities
    {
        justify-content: center;

        gap: var(--inner_gap_s);
    }


    .service_head .cities .sep
    {
        width: 100%;
        height: 1px;
    }


    .service_head .links
    {
        font-size: var(--font_size);
    }


    .service_head .links .sep
    {
        display: none;
    }


    .service_head .links .link
    {
        padding-inline: var(--inner_gap_s);
    }


    .service_head .links .link:has(span:nth-child(2)) span
    {
        display: none;
    }


    .service_head .links .link:has(span:nth-child(2)) span + span
    {
        display: block;
    }


    .service_head .image:after
    {
        background: rgba(0, 0, 0, .39);
    }



    /*----------------------
        Service benefits
    ----------------------*/
    .service_benefits .item .text_block
    {
        padding-block: 25px;
        padding-inline: 25px;

        border-radius: var(--border_radius);
    }


    .service_benefits .item .info
    {
        padding-block: 25px;
        padding-inline: 25px;

        border-radius: var(--border_radius);
    }



    /*-----------
        Steps
    -----------*/
    .steps
    {
        padding-inline: var(--cont_padding_half);
    }


    .steps .grid_row
    {
        --items_per_line: 1;
    }


    .steps .step
    {
        min-height: 275px;
    }


    .steps .step:before,
    .steps .step:after
    {
        display: none;
    }


    .steps .image
    {
        display: none;
    }



    /*-------------------
        Service after
    -------------------*/
    .service_after .head .percents
    {
        font-size: 146px;
    }


    .service_after .head .info
    {
        width: 100%;
    }


    .service_after .head .info .title
    {
        line-height: calc(100% + 4px);
    }


    .service_after .head .link
    {
        margin-top: var(--block_padding_l);
    }



    .service_after .data
    {
        width: calc(100% + var(--cont_padding));
        max-width: calc(100% + var(--cont_padding));
        height: 593px;
        margin-inline: calc(var(--cont_padding_half) * -1);
        padding: var(--inner_gap_l);
    }


    .service_after .data .link a
    {
        width: 100%;
        height: 70px;

        border: 1px solid #dadada;
        border-radius: 25px;
    }



    /*------------------------
        Service info block
    ------------------------*/
    .service_info_block
    {
        padding-block: 50px;

        text-align: center;
    }


    .service_info_block .cont
    {
        justify-content: center;

        gap: var(--inner_gap_l);
    }


    .service_info_block .cont > *
    {
        width: 100%;
        max-width: 100%;
    }


    .service_info_block .sep
    {
        width: 246px;
        height: 1px;
    }



    /*------------
        Steps2
    ------------*/
    .steps2
    {
        padding-inline: var(--cont_padding_half);
    }


    .steps2 .data
    {
        padding-block: 70px;
        padding-inline: var(--inner_gap_s);
    }


    .steps2 .step .desc
    {
        width: 100%;
        margin-top: var(--inner_gap_s);
        margin-left: 0;
    }


    .steps2 .step .exp_col
    {
        width: 100%;
        margin-top: var(--inner_gap);
        margin-left: 0;
    }



    /*--------------------------
        Show real apartments
    --------------------------*/
    .show_real_apartments .cont
    {
        padding-inline: var(--cont_padding_half);
    }


    .show_real_apartments .image
    {
        display: none;
    }


    .show_real_apartments .mob_image
    {
        display: block;
    }


    .show_real_apartments .data
    {
        width: 100%;
        padding-block: 70px;
        padding-inline: var(--block_padding);
    }


    .show_real_apartments .block_head .title
    {
        padding-block: 2px;
        padding-left: 89px;

        line-height: calc(100% + 8px);
    }


    .show_real_apartments .form
    {
        --form_border_color: rgba(218, 218, 218, .3);
        --form_border_color_focus: var(--light_color);
        --form_border_radius: 0;
        --form_placeholder_color: rgba(53,53,53,.4);
        --form_line_gap: 15px;
        --form_input_height: 70px;
        --form_input_padding_inline: 0;
        --form_input_padding_block: 0;
    }


    .show_real_apartments .form .input
    {
        padding-block: 0;

        text-align: center;
        text-transform: uppercase;

        border: 1px solid var(--form_border_color);
        border-radius: 25px;
    }


    .show_real_apartments .form .submit_btn,
    .show_real_apartments .form .submit_btn:hover
    {
        width: 100%;
        height: 70px;

        border: 1px solid #dadada;
        border-radius: 25px;
    }


    .show_real_apartments .form .checkbox
    {
        width: fit-content;
        margin-inline: auto;
    }



    /*---------
        How
    ---------*/
    .how .block_head .title
    {
        font-size: 35px;
    }


    .how .list
    {
        margin-inline: calc(var(--cont_padding_half) * -1);
    }


    .how .item .name
    {
        width: calc(100% - 80px);
    }



    /*------------------
        Work formats
    -----------------*/
    .work_formats
    {
        padding-block: 60px 15px;
    }


    .work_formats .cont
    {
        padding-inline: calc(var(--cont_padding) + var(--inner_gap_xs));
    }


    .work_formats .block_head
    {
        position: relative;

        z-index: 3;
    }


    .work_formats .block_head .title
    {
        -webkit-text-fill-color: #fff;
    }


    .work_formats .item
    {
        position: relative;

        width: 100%;

        z-index: 3;
    }


    .work_formats .item .link a
    {
        width: 100%;
        height: 70px;

        border: 1px solid #dadada;
        border-radius: 25px;
    }


    .work_formats .image
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        display: block;

        width: calc(100% - var(--cont_padding));
        height: 100%;
        margin-inline: auto;

        z-index: 1;
        pointer-events: none;
    }


    .work_formats .image:after
    {
        position: absolute;
        inset: 0;

        display: block;

        content: '';

        border-radius: var(--border_radius_l);
        background: rgba(0, 0, 0, .40);
    }



    /*---------------
        Get price
    ---------------*/
    .get_price .cont
    {
        padding-inline: var(--cont_padding_half);
    }



    .get_price .info
    {
        padding-block: 70px var(--inner_gap_l);
    }


    .get_price .info .btn
    {
        width: 100%;
        height: 70px;

        border: 1px solid #dadada;
        border-radius: 25px;
    }



    .get_price .data
    {
        padding-block: 70px 109px;
        padding-inline: var(--inner_gap_l);
    }


    .get_price .data .block_head .title
    {
        font-size: 32px;
    }


    .get_price .data .block_head .desc br
    {
        display: none;
    }


    .get_price .data .btn
    {
        width: 100%;
        height: 70px;

        border: 1px solid rgba(218, 218, 218, .3);
        border-radius: 25px;
    }



    /*----------------
        What we do
    ----------------*/
    .what_we_do .grid
    {
        height: auto;
        margin-inline: calc(var(--cont_padding) / -2);

        grid-template-columns: 1fr;
    }


    .what_we_do .item
    {
        padding: var(--inner_gap_l);
    }


    .what_we_do .item:nth-child(1),
    .what_we_do .item:nth-child(2)
    {
        min-height: 560px;
    }


    .what_we_do .item:nth-child(3)
    {
        min-height: 0;
    }



    /*----------------------
        Unique expertise
    ----------------------*/
    .unique_expertise .block_head .title
    {
        width: 100%;
        max-width: 100%;
    }


    .unique_expertise .we_create .grid_row
    {
        --items_per_line: 1;
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }



    /*------------------
        Discuss form
    ------------------*/
    .discuss_form .form
    {
        --form_border_color: rgba(218, 218, 218, .3);
        --form_border_color_focus: var(--light_color);
        --form_border_radius: 0;
        --form_placeholder_color: rgba(53,53,53,.4);
        --form_line_gap: 15px;
        --form_input_height: 70px;
        --form_input_padding_inline: 0;
        --form_input_padding_block: 0;
    }


    .discuss_form .form .input
    {
        padding-block: 0;

        text-align: center;
        text-transform: uppercase;

        border: 1px solid var(--form_border_color);
        border-radius: 25px;
    }


    .discuss_form .form .submit_btn,
    .discuss_form .form .submit_btn:hover
    {
        width: 100%;
        height: 70px;

        border: 1px solid #dadada;
        border-radius: 25px;
    }


    .discuss_form .form .agree
    {
        margin-top: var(--inner_gap);
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .cont
    {
        padding-inline: var(--cont_padding_half);
    }


    .benefits .data
    {
        padding-block: 60px;
        padding-inline: var(--inner_gap_l);
    }


    .benefits .data .title
    {
        font-size: 34px;
    }



    /*--------------------------
        Get current projects
    --------------------------*/
    .get_current_projects .cont
    {
        padding-inline: var(--cont_padding_half);
    }


    .get_current_projects .block_head .title
    {
        font-size: 35px;
    }


    .get_current_projects .grid_row
    {
        --items_per_line: 1;
    }


    .get_current_projects .item
    {
        min-height: 0;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-block: 112px 108px;
    }


    .action_form .block_head .title.small
    {
        font-size: 35px;
    }



    /*-----------------------
        Project economics
    -----------------------*/
    .project_economics .info .val
    {
        justify-content: center;

        min-height: 60px;

        text-align: center;
    }


    .project_economics .person .name
    {
        line-height: calc(100% + 10px);
    }



    /*------------------------
        Service advantages
    ------------------------*/
    .service_advantages .bg
    {
        display: none;
    }



    /*-------------------
        About control
    -------------------*/
    .about_control .data
    {
        padding-inline: var(--inner_gap);
    }


    .about_control .block_head .title
    {
        font-size: 40px;
        line-height: calc(100% + 6px);
    }



    /*--------------------
        Flipping block
    --------------------*/
    .flipping_block .text_block .columns > *,
    .flipping_block .text_block .columns > * + *
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-bottom: var(--inner_gap_s);
    }


    footer .data
    {
        width: calc(100% + var(--cont_padding));
        max-width: calc(100% + var(--cont_padding));
        margin-inline: calc(var(--cont_padding_half) * -1);
        padding-block: var(--inner_gap_l);
    }


    footer .cont
    {
        justify-content: center;

        gap: 15px;
    }


    footer .logo
    {
        width: 100%;
    }


    footer .logo img
    {
        margin-inline: auto;
    }


    footer .copyright
    {
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
        margin: 0;

        text-align: center;

        gap: 16px;
    }


    footer .address
    {
        margin-left: 0;

        font-size: var(--font_size);
        line-height: calc(100% + 3px);
    }


    footer .phone
    {
        margin-left: 0;

        font-size: var(--font_size);
        line-height: calc(100% + 3px);
    }


    footer .messengers
    {
        justify-content: center;

        width: 100%;
        margin-left: 0;
    }


    footer .messengers a
    {
        width: 150px;
        height: 50px;

        color: #c5c5c5;

        aspect-ratio: auto;
    }


    footer .messengers .tg_link .icon
    {
        width: 20px;
        height: 17px;
    }


    footer .messengers .max_link .icon
    {
        width: 17px;
        height: 17px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        flex-direction: column;

        width: 340px;
        padding-top: 65px;

        --modal_info_width: 100%;
        --modal_data_width: 100%;
    }


    .modal .info
    {
        padding: var(--inner_gap_l);

        border-radius: var(--border_radius);
    }


    .modal .data
    {
        min-height: 0;
        padding: var(--inner_gap_l);

        border-radius: var(--border_radius);
    }


    .modal .form .switch .field.with_gap
    {
        margin-left: -10px;

        row-gap: 10px;
    }


    .modal .form .switch .with_gap label,
    .modal .form .switch .with_gap label.width1of3
    {
        width: calc(50% - 10px);
        margin-left: 10px;
    }


    .modal .form .switch .with_gap label.mob_full
    {
        width: calc(100% - 10px);
    }


    .modal .form .submit_btn,
    .modal .form .submit_btn:hover
    {
        height: 65px;
    }


    .modal .form .checkbox
    {
        width: fit-content;
        margin-inline: auto;
    }


    .modal .messengers
    {
        width: calc(100% + var(--inner_gap_l) * 2);
        margin-inline: calc(var(--inner_gap_l) * -1);
        margin-top: var(--block_padding);
        padding-inline: var(--inner_gap_l);
        padding-top: var(--inner_gap_l);
    }



    .modal.success .data
    {
        padding-block: 147px var(--inner_gap_l);
    }


    .modal.success .desc br
    {
        display: block;
    }


    .modal.success .messengers
    {
        margin-top: 107px;
        padding-top: var(--inner_gap_l);
    }



    /*--------------------------
        PopUp - Sign up tour
    --------------------------*/
    #sign_up_tour_modal
    {
        --modal_info_width: 100%;
    }


    #sign_up_tour_modal .info
    {
        padding: var(--inner_gap_l);
    }


    #sign_up_tour_modal .info .title
    {
        font-size: 39px;
        line-height: calc(100% + 5px);
    }



    /*-----------------------------
        PopUp - Get supervision
    -----------------------------*/
    #get_supervision_modal .info
    {
        min-height: 302px;
    }


    #get_supervision_modal .info .title
    {
        font-size: 43px;
        line-height: calc(100% + 1px);
    }


    #get_supervision_modal .form
    {
        margin-top: var(--inner_gap);
    }


    #get_supervision_modal .form .switch
    {
        margin-bottom: var(--inner_gap_l);
    }



    /*---------------------------
        PopUp - Get checklist
    ---------------------------*/
    #get_checklist_modal .info
    {
        min-height: 240px;
    }


    #get_checklist_modal .image:after
    {
        background: rgba(0, 0, 0, .4);
    }


    #get_checklist_modal .form
    {
        margin-top: var(--inner_gap);
    }


    #get_checklist_modal .form .switch
    {
        margin-bottom: var(--inner_gap_l);
    }



    /*-----------------------------
        PopUp - Get appointment
    -----------------------------*/
    #get_appointment_modal .info .title
    {
        font-size: 39px;
        line-height: calc(100% + 5px);
    }



    /*---------------------------
        PopUp - Get checklist
    ---------------------------*/
    #calc_price_modal .info .title
    {
        font-size: 43px;
        line-height: calc(100% + 1px);
    }



    /*-------------------------------
        PopUp - Get appointment 2
    -------------------------------*/
    #get_appointment2_modal
    {
        --modal_info_width: 100%;
    }


    #get_appointment2_modal .info
    {
        padding: var(--inner_gap_l);
    }


    #get_appointment2_modal .info .title
    {
        font-size: 39px;
        line-height: calc(100% + 5px);
    }


    #get_appointment2_modal .image:after
    {
        background: rgba(0, 0, 0, .4);
    }



    /*------------------
        PopUp - Quiz
    ------------------*/
    #quiz_modal
    {
        width: 340px;

        border-radius: var(--border_radius);

        --modal_info_width: 100%;
        --modal_data_width: 100%;
    }


    #quiz_modal .f-button.is-close-button
    {
        display: flex;
    }


    #quiz_modal .step
    {
        padding-block: var(--inner_gap) var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);

        border-radius: var(--border_radius);
    }


    #quiz_modal .info
    {
        padding-block: var(--inner_gap_s) var(--inner_gap_l);
        padding-inline: var(--inner_gap);
    }


    #quiz_modal .info .title,
    #quiz_modal .step6 .info .title
    {
        font-size: 43px;
        line-height: calc(100% + 1px);
    }


    #quiz_modal .info .desc
    {
        width: 100%;
    }


    #quiz_modal .step_desc
    {
        margin-inline: var(--inner_gap_s);
        margin-bottom: var(--inner_gap);

        text-align: center;
    }


    #quiz_modal .amount .btn
    {
        order: 2;

        width: calc(50% - var(--inner_gap_xs));
        height: 55px;
        margin-top: var(--inner_gap_s);
    }


    #quiz_modal .amount .input
    {
        width: 100%;
        height: 55px;
    }


    #quiz_modal .finish .checkbox
    {
        white-space: nowrap;
    }


    #quiz_modal .style > *
    {
        width: calc(100% - var(--inner_gap_s));
    }


    #quiz_modal .style label div
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_l);
    }


    #quiz_modal .data
    {
        min-height: 0;
    }


    #quiz_modal .btns
    {
        margin-top: var(--inner_gap_l);
    }


    #quiz_modal .prev_btn
    {
        width: 50px;
        min-width: 50px;
    }
}
