@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --custom_scroll_width: 5px;
        --custom_scroll_height: 5px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        gap: 12px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*----------------
        Page links
    ----------------*/
    .page_links .swiper-slide
    {
        width: 230px;
    }


    .page_links .swiper-button-prev:after,
    .page_links .swiper-button-next:after
    {
        width: 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        gap: var(--inner_gap_s);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 600px;
    }


    .first_section .desc
    {
        width: 400px;
    }


    .first_section .links
    {
        padding-bottom: 12px;

        gap: 15px;
    }


    .first_section .links .link
    {
        height: 32px;
    }


    .first_section .links .link:after
    {
        bottom: -12px;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .section
    {
        width: 140px;
        min-width: 140px;
        height: 500px;
    }


    .directions .section .name
    {
        width: 140px;
    }


    .directions .section .arrow
    {
        width: 20px;
    }


    .directions .section .info
    {
        padding: var(--inner_gap_l);
    }


    .directions .section .links
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_l);

        font-size: var(--font_size);

        gap: var(--inner_gap_l);
    }


    .directions .section .data
    {
        width: calc(100% - 140px);
    }



    /*---------
        Why
    ---------*/
    .why .block_head .desc
    {
        width: 440px;
        padding-right: 40px;
    }


    .why .item .desc
    {
        width: 440px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .map
    {
        width: 360px;
        height: 512px;
        margin-block: var(--block_padding_l);
    }



    .contacts_info .data
    {
        width: calc(100% - 360px - var(--block_padding_l));
    }


    .contacts_info .item .val.phone,
    .contacts_info .item .val.email
    {
        gap: var(--inner_gap);
    }


    .contacts_info .item .messengers a
    {
        width: 48px;
    }



    .contacts_info .images .image
    {
        width: 400px;
        height: 320px;
    }


    .contacts_info .images .image.l_w
    {
        width: calc(100% - 400px - var(--inner_gap_s));
    }



    /*---------------
        Portfolio
    ---------------*/
    .portfolio .grid_row .item,
    .portfolio .grid_row .item.l_h
    {
        height: 440px;
    }


    .portfolio .grid_row .item .link a
    {
        height: 60px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .info
    {
        align-content: center;
        align-items: center;

        width: 100%;
        padding-block: 60px;

        text-align: center;
    }


    .contacts_block .info .block_head .title
    {
        width: 100%;
    }


    .contacts_block .info .order_btn
    {
        width: 310px;
        max-width: 100%;
        height: 70px;

        border: 1px solid #dadada;
        border-radius: var(--border_radius);
    }



    .contacts_block .data .contacts
    {
        width: 160px;
    }



    .contacts_block .cont.row .data
    {
        width: 100%;
        padding-block: 60px 0;
    }



    /*--------------------
        Portfolio info
    --------------------*/
    .portfolio_info .data
    {
        height: 500px;
    }



    /*--------------------
        Portfolio data
    --------------------*/
    .portfolio_data .swiper-slide
    {
        width: 260px;
    }


    .portfolio_data .swiper-button-prev:after,
    .portfolio_data .swiper-button-next:after
    {
        width: 20px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-block: 60px;
    }


    .action_form .block_head,
    .action_form .block_head.l_w,
    .action_form .block_head.s_w
    {
        align-content: center;
        align-items: center;

        width: 100%;
        margin-bottom: var(--block_head_offset);

        text-align: center;
    }


    .action_form .form
    {
        margin-inline: auto;
    }


    .action_form .form .checkbox
    {
        margin-inline: auto;
    }



    /*-----------------------
        Project economics
    -----------------------*/
    .project_economics .col
    {
        width: 280px;
        padding-block: 60px;
    }


    .project_economics .photo
    {
        width: 100%;
        height: 336px;
    }


    .project_economics .data
    {
        width: calc(100% - 280px - 60px);
        padding-block: 60px;
        padding-left: 60px;

        gap: var(--inner_gap_l);
    }


    .project_economics .info .label
    {
        min-height: 48px;
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_s);
    }


    .project_economics .info .val
    {
        min-height: 48px;
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap);
    }



    /*----------------
        About head
    ----------------*/
    .about_head .data
    {
        height: 500px;
        padding-block: var(--block_padding_l);
    }



    /*------------------
        Service head
    ------------------*/
    .service_head .cont
    {
        height: 600px;
    }


    .service_head .links
    {
        padding-bottom: 12px;

        gap: 15px;
    }


    .service_head .links .link
    {
        height: 32px;
    }


    .service_head .links .link:after
    {
        bottom: -12px;
    }



    /*----------------------
        Service benefits
    ----------------------*/
    .service_benefits .item .text_block
    {
        width: calc(100% - 480px - var(--inner_gap_s));
    }


    .service_benefits .item .info
    {
        width: 480px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .grid_row
    {
        --items_per_line: 3;
    }


    .steps .step
    {
        min-height: 340px;
    }



    /*-------------------
        Service after
    -------------------*/
    .service_after .head .percents
    {
        font-size: 120px;
    }


    .service_after .head .link
    {
        width: 260px;
    }


    .service_after .head .link a
    {
        height: 80px;
    }



    .service_after .data
    {
        height: 500px;
        padding: var(--block_padding_l);
    }



    /*------------------------
        Service advantages
    ------------------------*/
    .service_advantages .block_head
    {
        width: 332px;
    }


    .service_advantages .accordion
    {
        width: 560px;
    }



    /*------------
        Steps2
    ------------*/
    .steps2 .step .name
    {
        width: 208px;
    }


    .steps2 .step .desc
    {
        width: calc(100% - 620px);
        margin-left: var(--block_padding_l);
    }



    /*--------------------------
        Show real apartments
    --------------------------*/
    .show_real_apartments .data
    {
        width: calc(100% - 600px);
    }


    .show_real_apartments .image
    {
        width: 280px;
    }


    .show_real_apartments .image.l_w
    {
        display: none;
    }



    /*---------
        How
    ---------*/
    .how .item .desc
    {
        width: 440px;
    }



    /*------------------
        Work formats
    -----------------*/
    .work_formats .item
    {
        width: 320px;

        gap: var(--inner_gap_s);
    }


    .work_formats .item .desc
    {
        font-size: var(--font_size);
        line-height: calc(100% + 8px);
    }


    .work_formats .image
    {
        width: calc(100% - 660px);
        height: 500px;
    }



    /*---------------
        Get price
    ---------------*/
    .get_price .info
    {
        width: 320px;
        min-height: 550px;
        padding: var(--block_padding_l);
    }


    .get_price .data
    {
        width: calc(100% - 340px);
        min-height: 550px;
        padding: var(--block_padding_l);
    }



    /*----------------
        What we do
    ----------------*/
    .what_we_do .grid
    {
        height: 550px;

        gap: var(--inner_gap);
        grid-template-columns: 320px 1fr;
    }


    .what_we_do .item:nth-child(3)
    {
        min-height: 180px;
    }



    /*----------------------
        Unique expertise
    ----------------------*/
    .unique_expertise .grid_row.main
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .unique_expertise .we_create
    {
        gap: var(--inner_gap);
    }



    /*------------------
        Discuss form
    ------------------*/
    .discuss_form .info
    {
        width: 360px;
        min-height: 550px;
        padding: var(--block_padding_l);
    }


    .discuss_form .image
    {
        width: calc(100% - 380px);
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .data
    {
        width: 448px;
        padding: var(--block_padding_l);
    }


    .benefits .image
    {
        width: calc(100% - 468px);
    }



    /*--------------------------
        Get current projects
    --------------------------*/
    .get_current_projects .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .get_current_projects .item
    {
        min-height: 440px;
    }



    /*----------------
        About path
    ----------------*/
    .about_path .author
    {
        font-size: var(--font_size_l);
    }


    .about_path .image
    {
        border-radius: var(--border_radius);
    }



    /*-------------------
        About control
    -------------------*/
    .about_control .image
    {
        display: none;
    }


    .about_control .data
    {
        width: 100%;
        min-height: 0;
        padding-block: 60px;
        padding-inline: var(--block_padding_l);
    }



    /*-------------------
        About mistake
    -------------------*/
    .about_mistake .data
    {
        width: 400px;
        padding-top: 0;
    }


    .about_mistake .image
    {
        width: calc(100% - 440px);

        border-radius: var(--border_radius);
    }



    /*--------------------
        Flipping block
    --------------------*/
    .flipping_block .block_head
    {
        width: 100%;
        margin-bottom: var(--block_head_offset);
    }


    .flipping_block .text_block
    {
        width: 100%;
    }


    .flipping_block .text_block .columns > *
    {
        width: 360px;
    }


    .flipping_block .text_block .columns > * + *
    {
        width: calc(100% - 360px - var(--inner_gap_l));
    }
}
